@font-face {
  font-family: "Scene";
  src: url(../src/assets/SceneProBlack.OTF);
}

.App {
  text-align: center;
  font-family: "Scene", sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav{
  height: 100%;
}

.nav ul{
  padding: 0;
  margin: 0;
  width: 200px;
}

.nav li a{
  display: flex;
  text-decoration: none;
  color: #ffffff;
  padding: 16px 24px;
  background-color: #282c34;
}

.nav a:hover,
.active{
  background-color: #1A5BE6;
  transition: 0.3s;
}

.nav .dashboard{
  font-family: 'Scene', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-bottom: 2px solid #15171b;
}

.nav .dashboard:hover{
  color: #1A5BE6;
  background-color: #282c34;

}

/* Human Resources */

.humanResources{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 200px;
  top: 7vh;
}

.humanResources button{
  padding: 16px 24px;
  background-color: #404652;
  color: white;
  border: none;
}

.humanResources button:hover{
  background-color: #1A5BE6;
  transition: 0.5s;
}

/* Human Resources: EMPLOYEE LIST && Project Management: PLANNING SCHEDULE */

.Employee, 
.planning,
.project{
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
}

.EmployeeInfo,
.planSched,
.projectBudget{
  text-align: center;
  position: relative;
  width: 20%;
  padding: 20px 30px;
  background-color: #eeeeee;
  border-radius: 20px 0 0 20px;
  box-shadow: 5px 5px 5px #15171b5e ;
}

h2{
  font-family: "Scene", sans-serif;
  font-size: 1.5rem;
  color: #1A5BE6;
}

.EmployeeInfo label,
.planSched label,
.projectBudget label{
  text-align: left;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-transform: uppercase;
}

.EmployeeInfo input,
.planSched input,
.planSched textarea,
.projectBudget input,
.projectBudget textarea{
  padding: 5px;
  height: 20px;
  font-size: 1rem;
  color: black;
  font-family: "Scene", sans-serif;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid gray;
}

.EmployeeInfo input:focus,
.planSched input:focus,
.planSched textarea:focus,
.projectBudget input:focus,
.projectBudget textarea:focus{
  font-size: 1rem;
  background-color: transparent;
  outline: none;
}

.EmployeeInfo button,
.planSched button,
.projectBudget button{
  font-family: "Scene", sans-serif;
  font-size: 15px;
  background-color: #1A5BE6;
  color: #ffffff;
  width: fit-content;
  padding: 8px 24px;
  border: none;
  border-radius: 30px;
}

.EmployeeInfo button:hover,
.planSched button:hover,
.projectBudget button:hover{
  background-color: #375EB3;
}

.EmployeeList,
.SchedList,
.projList{
  background-color: #292929;
  width: 20%;
  padding: 20px 30px;
  border-radius: 0 20px 20px 0;
}

.EmployeeList h3,
.SchedList h3,
.projList h3{
  font-family: "Scene", sans-serif;
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

.EmployeeList li a,
.SchedList li a,
.projList li a{
  text-align: justify;
  text-decoration: none;
  margin: 30px;
  color: white;
}

.EmployeeList li,
.SchedList li,
.projList li{
  width: 100%;
  margin: 20px 0;
}

.EmployeeList button,
.SchedList button,
.projlist button{
  font-family: "Scene", sans-serif;
  font-size: 15px;
  color: #ffffff;
  width: fit-content;
  background-color: transparent;
  padding: 8px 24px;
  border: none;
  border-radius: 30px;
  align-self: flex-end;
}

.EmployeeList button:hover,
.SchedList button:hover,
.projList button:hover{
  background-color: #e61a1a;
}

/* Human Resources: TIME ATTENDANCE */

.timeAttend{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 20%;
  padding: 20px 30px;
  background-color: #eeeeee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #15171b5e ;
}

.timeAttend label{
  text-align: left;
  width: 90%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-transform: uppercase;
}

.timeAttend button{
  font-family: "Scene", sans-serif;
  font-size: 15px;
  background-color: #1A5BE6;
  color: #ffffff;
  width: fit-content;
  padding: 8px 24px;
  border: none;
  border-radius: 30px;
  margin: 20px;
}

.timeAttend button:hover{
  background-color: #375EB3;
}

.timeAttend select{
  padding: 5px;
  font-size: 1rem;
  color: black;
  font-family: "Scene", sans-serif;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid gray;
}

.timeAttend select:focus{
  font-size: 1rem;
  background-color: transparent;
  outline: none;
}

/* Human Resources: PAYROLL */

.payroll{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 30%;
  padding: 20px 30px;
  background-color: #eeeeee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #15171b5e ;
}

.payroll button{
  font-family: "Scene", sans-serif;
  font-size: 15px;
  background-color: #1A5BE6;
  color: #ffffff;
  width: fit-content;
  padding: 8px 24px;
  border: none;
  border-radius: 30px;
  margin: 20px;
}

.payroll button:hover{
  background-color: #375EB3;
}

.payroll p{
  font-size: 16px;
}

.payroll li{
  margin: 10px;
  font-family: "Scene", sans-serif;
  font-weight: 500;
}

/* Project Management */

.ProjManage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 200px;
  top: 12vh;
}

.ProjManage button{
  padding: 16px 24px;
  background-color: #404652;
  color: white;
  border: none;
}

.ProjManage button:hover{
  background-color: #1A5BE6;
  transition: 0.5s;
}
